body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:rgb(250, 250, 250) */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-location {
    color: #ddd;
}

/* .line-container {
    display: flex;
    width: 100%;
}

hr {
    width: 35%;
    border: 1px dotted #eee;
    
} */

.physical-location {
    display: flex;
    font-size: 0.95em;
    border: 1px dotted rgba(181, 0, 0, 0.689);
    color:rgb(103, 103, 103);
    padding: 10px;
    margin-bottom: 10px;
    width: 120px;
    justify-content: center;
}

.line-container-2 {
    border: 1px solid #555;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.title {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-shadow: 10px 10px, -10px -10px;
    padding: 10px;
}

.title-block {
    /* border: 1px solid black; */
    padding: 10px;
}

.subtitle {
    color: #444;
    font-size: 0.75em;
}

.links {
    font-size: 1em;
    text-shadow: 1px 1px #ccc;
    border: 1px dotted black;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.left-blocks,
.right-blocks {
    border: 1px solid black;
}

.left-blocks {
    width: 70%;
}

.right-blocks {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scalebar,
.globes {
    display: flex;
    border: 1px dotted black;
    height: 50%;
    align-items: center;
    justify-content: center;
    width: 100%; 
    gap: 10px;  
}

img {
    height: 10%;
    width: 5%;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgb(103, 103, 103);
}

.footer {
    width: 100
}

.work {
    color: #eee;
    margin-top: 71%;
    display: flex;
    align-self: flex-end;        
}